{%extends 'blog/base.html'%}
{%block content%}

<div class="container">
  <h1 class="techfont">About this website</h1>
  <ul>
    <li class="bigbrand">This website is created just to demonstration minimal functionality from social blog website</li>
    <li class="bigbrand"> The functionality it demonstrated as follows :</li>
      <ol>
        <li class="bigbrand">Author can register on this website</li>
        <li class="bigbrand">After login he/she can publish a blog or can save in draft for later publishing</li>
        <li class="bigbrand">Other users can comment on that blog post</li>
        <li class="bigbrand">Author have permission to approve or reject comment on that blog post</li>
        <li class="bigbrand">After approval it will be display on website main page</li>
      </ol>
  </ul>
  <h2 class="techfont">Thank you for checking this out</h1>
</div>
{%endblock%}
